*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}

body{
    background-color: #C2E9FB;
    text-align: center;
}

#caixa{
    background:#ffffff;
    border: 1px rgb(255, 255, 255) solid;
    width: 428px;
    height: 273.72px;
    margin: auto;
    margin-top: 200px;
    position: relative;
    border-radius: 6px;
}
h1{
    /* border: 1px red solid; */
    font-family: 'Montserrat', sans-serif;
    color: #34355B;
    font-size: 24px;
    margin-bottom: 16px;
}
p{
    /* border: 1px red solid; */
    font-family: 'DM Sans', sans-serif;
    color:rgba(52, 53, 91, 0.8);
    font-size: 16px;
    
}



#caixa3{
    /* position:absolute; */
    width: 300px;
    height: 60.72px;
    margin: 48px auto;
}
#caixa4{
   
    
    /* border: 1px blue solid; */
    /* position: absolute; */
    width: 125px;
    height: 53px;
    display: flex;
    
    margin:  auto;
    
}
#aqui{  /*CAIXA PARA ESCREVER*/
    /* position: absolute; */
    background-color: #DCE2E9;
    width: 43px;
    height: 53px;
    border-radius: 4px 0px 0px 4px ;
    display: flex;
    align-items: center;      /*alinhamento verticalmente*/
    justify-content: center;   /*alinhamento horizontalmente*/
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #34355B;
}
button{
    /* position: absolute; */
    background: #7879F1;
    color: white;
    width: 82px;
    height: 53px;
    border-radius: 0px 4px 4px 0px ;
    /* left: 43px; */
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    border: 0px;
    font-style:bold;
}